workflows/document-ingestion.json
{
  "name": "Document Ingestion - Knowledge Base",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Knowledge Base Folder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_GOOGLE_DRIVE_FOLDER_ID"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        112
      ],
      "id": "e08c864c-5687-4892-b645-f45afb225082",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        192,
        112
      ],
      "id": "e6915266-6ecc-4a91-b67a-50116a0fc036",
      "name": "Download file"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 1,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1888,
        112
      ],
      "id": "4607f6eb-aa8d-451d-aca9-fbf1c01a41bc",
      "name": "Supabase Vector Store"
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "tutorme-agent",
          "mode": "list",
          "cachedResultName": "TutorMe Agent"
        },
        "modelName": "gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleVertex",
      "typeVersion": 1,
      "position": [
        1824,
        336
      ],
      "id": "9f2f6ddf-4bda-47fb-b561-20c8ce4a39c2",
      "name": "Embeddings Google Vertex"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f975a4b-0108-46af-a010-cd5c74693f3e",
              "name": "doc_name",
              "value": "={{ $json.originalFilename }}",
              "type": "string"
            },
            {
              "id": "984be2a2-f123-4012-8e68-fdaa45979cbc",
              "name": "doc_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "90d9b050-1443-4c28-93f8-3e84fed6ec75",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        112
      ],
      "id": "6fe77ba7-050b-419b-9b51-582e979c2c77",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        112
      ],
      "id": "2c3ded2f-5804-4f56-9662-ef4be1510c89",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        864,
        112
      ],
      "id": "f4792607-d232-4148-b4a2-5efe96731d76",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1088,
        -16
      ],
      "id": "5e23758a-c74f-44e3-8fbb-c7b44d59b024",
      "name": "Wait",
      "webhookId": "52d506d8-4c22-4500-a4a1-c4e208ae038e"
    },
    {
      "parameters": {
        "jsCode": "// Get plain text from Extract from File node\nconst text = $input.item.json.text || '';\n\nconst doc_name = $('Edit Fields').first().json.doc_name;\nconst doc_url = $('Edit Fields').first().json.doc_url;\n\n// Chunking settings\nconst chunkSize = 500;\nconst overlap = 50;\n\n// Split into words\nconst words = text.split(/\\s+/).filter(w => w.length > 0);\n\nconst chunks = [];\nlet i = 0;\n\nwhile (i < words.length) {\n  const chunkWords = words.slice(i, i + chunkSize);\n  const chunkText = chunkWords.join(' ');\n\n  if (chunkText.trim().length > 20) {\n    chunks.push({\n      json: {\n        pageContent: chunkText,\n        doc_name: doc_name,\n        doc_url: doc_url\n      }\n    });\n  }\n\n  i += chunkSize - overlap;\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        112
      ],
      "id": "cf7e0dee-a928-4db7-8bdb-ec34d350f494",
      "name": "Split Text into Chunks"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a document labeling assistant.\n\nRead the following text chunk and return a short \nsection label of 3-6 words that describes what \nthis chunk is about.\n\nDocument type: {{ $('Edit Fields').item.json.doc_name }}\n\nText chunk:\n{{ $('Loop Over Items').item.json.pageContent }}\n\nReturn ONLY the label. No explanation, no \npunctuation, no extra words.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1312,
        -16
      ],
      "id": "86f351ef-0e7b-4455-925b-7dbd759009df",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1392,
        208
      ],
      "id": "a1ae02d3-1122-4602-a86d-fc4748a98aab",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.pageContent }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "doc_name",
                "value": "={{ $json.metadata.doc_name }}"
              },
              {
                "name": "section",
                "value": "={{ $json.metadata.section }}"
              },
              {
                "name": "doc_url",
                "value": "={{ $json.metadata.doc_url }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2032,
        336
      ],
      "id": "f95c29d8-abe0-463c-a037-9f2bb3a80414",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "jsCode": "// Get section from LLM node output\nconst section = $input.first().json.text.trim()\n  .replace(/['\".,!?]/g, '');\n\n// Get chunk content\nconst pageContent = $('Loop Over Items').first().json.pageContent || '';\n\n// Get document metadata\nconst doc_name = $('Edit Fields').first().json.doc_name;\nconst doc_url = $('Edit Fields').first().json.doc_url;\n\n// Skip empty chunks\nif (!pageContent || pageContent.trim().length < 20) {\n  return [];\n}\n\nreturn [{\n  json: {\n    pageContent: pageContent,\n      metadata: {\n      doc_name: doc_name,\n      section: section,\n      doc_url: doc_url\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        -16
      ],
      "id": "ba397f3b-3673-4366-80e7-6711bd4ed4bf",
      "name": "Merge Data for Supabase"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Vertex": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Split Text into Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Text into Chunks": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge Data for Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data for Supabase": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c24fabe6-46a0-456f-adea-e12ebd1732e5",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "woj0gVDm1bPYNoCd",
  "tags": []
}