workflows/query-agent-chat-with-citations.json
{
  "name": "Knowledge Base AI Agent with Citations",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "2bc443d7-4a35-499c-bd4e-ad77eeaf39e0",
      "name": "Telegram Trigger",
      "webhookId": "e232c34e-9d2f-425b-bdae-dcdd16d775a9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Use your system message to generate a response",
        "options": {
          "systemMessage": "=You are an internal knowledge base assistant.\n\nYou have access to a tool called \"Search Knowledge Base\".\n\nUser query: {{ $json.user_question }}\n\nRULES:\n- ALWAYS use the tool when answering questions about company policies, processes, documentation, FAQs, or uploaded knowledge base content.\n- DO NOT guess answers.\n- Use ONLY retrieved information from the tool.\n- If no relevant data is found, say:\n  \"I could not find that information in the uploaded knowledge base documents.\"\n\nWhen you answer:\n- Be clear and concise.\n- Include citations.\n- Each citation must include the document name, section, and clickable source link.\n\nCitation format:\n\nSources:\n1. Document Name \u2014 Section\nSource Link"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "be2c1daf-ada4-4314-b500-6b47cd7ff6e1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "fd197989-fbea-480b-b6a8-2dcd22234fb6",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search uploaded knowledge base documents and return relevant content with metadata including document name, section, and source link.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        480,
        256
      ],
      "id": "a8cde406-cab8-45d3-9e30-0a6738e3096a",
      "name": "search_knowledge_base"
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "tutorme-agent",
          "mode": "list",
          "cachedResultName": "TutorMe Agent"
        },
        "modelName": "gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleVertex",
      "typeVersion": 1,
      "position": [
        400,
        432
      ],
      "id": "08009d37-be25-4724-b48a-64a48f6b53c0",
      "name": "Embeddings Google Vertex"
    },
    {
      "parameters": {
        "jsCode": "const reply =\n  $json.reply ||\n  $json.output ||\n  $json.text ||\n  $json.message?.content ||\n  \"\";\n\n// \ud83d\udd25 Pull from earlier node\nconst chatId = $('Clean Input').first().json.chat_id;\n\nfunction cleanForTelegram(text) {\n  return String(text)\n    .replace(/[_*[\\]()~`>#+=|{}.!-]/g, \"\\\\$&\")\n    .slice(0, 4000);\n}\n\nreturn {\n  json: {\n    chat_id: chatId,\n    reply: cleanForTelegram(reply)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        0
      ],
      "id": "a0ee411a-25b9-41ab-84ad-fcb337e99807",
      "name": "Format Response for Telegram"
    },
    {
      "parameters": {
        "jsCode": "const message = $json.message || {};\n\nreturn {\n  json: {\n    chat_id: message.chat?.id || \"\",\n    user_question: message.text || \"\",\n    user_name: message.from?.first_name || \"\",\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "78a41805-0b2f-4603-8de6-c60be34aeb3c",
      "name": "Clean Input"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.reply }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        944,
        0
      ],
      "id": "6067836c-49f0-4f44-af48-9b2855310283",
      "name": "Send a text message",
      "webhookId": "3579c86b-43d3-496d-bbd2-70a6cd901fad"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Clean Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "search_knowledge_base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Vertex": {
      "ai_embedding": [
        [
          {
            "node": "search_knowledge_base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response for Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response for Telegram": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "76fc239c-11d4-40d9-8152-b53f57442528",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "HR0TX62j3xdPEheJ",
  "tags": []
}